#AccordionMenu{
    padding: 0;
    margin: 0;
    width: 80%;
}

ul
{
    list-style-type:none;


}

ul#accordion-widget li div.link{
    width: 100%;
    height: 24px;
    z-index: 1;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fafafa;
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
}

ul#accordion-widget li div.link .icon-caret,
ul#accordion-widget li div.link .icon-plus{
    font-size: 16px;
    color:#777777;
    margin-right: 10px;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

ul#accordion-widget li div.link .icon-caret.caret-down{
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

ul#accordion-widget li div.link .icon-plus{
    position: absolute;
    right: 2%;
    font-weight: 20;
    opacity: 0;
}



ul#accordion-widget li div.link:hover{
    cursor:pointer;
} 

ul#accordion-widget li div.link:hover .icon-plus{
    opacity: 1;
    cursor: pointer;
}

ul.accordion-menu{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    max-height: 0;
    transition: max-height 0.7s ease-out;
    overflow: hidden;
    background-color:#1b1f2f;
    color:#FFF;
}

ul.accordion-menu.active{
    max-height: 500px;
    transition: max-height 0.7s ease-in;
}

ul.accordion-menu li.list-item{
    height: 70px;
    font-size: 12px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fafafa;
    z-index: 100;
    color: black;
    padding:5px 24px 5px 24px;

}
